*{
    overflow: auto;
}

body{
    background-color : #8BA1BB;
    font-family : Arial;
    margin : 0;
}

p.categorie{
    display : inline-block;
    background-color : black;
    color : white;
    padding: 8px 18px;
    margin: 0;
    margin-top:-14;
    font-weight:bold;
    font-size: 16px;
}

div.categorie{
    margin:0;
    overflow:visible;
}

.contenu{
    background-color:white;
    margin :30px 8px 40px 8px;
    padding : 20px 8px;
    padding-top:0px;
    box-shadow: 0px 0px 7px 7px #40404060;
    overflow:visible;
}

h1{
    text-align:center;
    margin-bottom:16px;
    margin-top:8px;
}

p.description{
    text-align:center;
    max-width: 500px;
    display: inline-block;
    font-size:14px;
}

.centre{
    text-align: center;
    width: 100%;
}

div.separateur{
    height:1px;
    width:100px;
    background-color: black;
    margin-left:auto;
    margin-right:auto;
}

div.infos{
    position:relative;
}

img.infos{
    display:block;
    max-height: 600px;
    min-height: 200px;
    background-color: lightgray;
    object-fit:cover;
}

table.infos{
    position:absolute; 
    bottom:0px; 
    color:white; 
    width:100%; 
    height:50px; 
    background-color: #6C829DC0;
}

table.infos th{
    text-align: center;
    font-size:14;
    vertical-align: bottom;
    padding-bottom:4px;
}

table.infos td{
    text-align:center;
    font-size:12;
    vertical-align: top;
}

div.colonne{
    width:100%;
    margin-top:20px;
}

div.colonne h2{
    text-align:center;
    text-transform:uppercase;
    font-size:15px;
    border-bottom:solid 5px #6C829D;
    padding-bottom: 5px;
}

div.colonneIngredients{
    display:inline-block;
}

div.ingredients p{
    text-align:center;
    font-size:14;
    border: solid 1px lightgray;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0;
    margin-bottom:5px;
}

table.preparation tr{
    height:40px;
}

table.preparation td{
    vertical-align:top;
}

table.preparation p.numero{
    background-color: #6C829D;
    color:white;
    box-sizing:border-box;    
    width:25px;
    height:25px;
    padding:4px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    border-radius:50%;
    margin:0;
}

table.preparation td.etape_preparation{
    font-size:14px;
    padding-left:10px;
    margin-bottom:10px;
}






/* Styles pour l'ordinateur (écran<768px): */
@media only screen and (min-width: 768px) {

    .contenu{
        min-width:360px;
        margin :60px 10% 80px 10%;
        padding : 30px;
        padding-top:0px;
    }

    /*Tableau infos dans l'image*/
    table.infos{
        height:80px; 
    }
    
    table.infos th{
        font-size:16;
    }
    
    table.infos td{
        font-size:14;
    }

    /*Affichage des colonnes ingrédients et préparation côte à côte*/
    div.colonne{
        width:45%;
    }
    
    div.colonneIngredients{
        margin-right:10%;
    }
    
    div.colonneEtapes{
        float:right;
    }
}



/* Styles pour l'ordinateur (écran>900px): */
@media only screen and (min-width: 900px) {

    .contenu{
        margin-left:auto;
        margin-right:auto;
        width:645px;
    }
}